@media (max-width: 1000px){
    body{
        background-color: black;
    }
    .fundo-video {
        display: none;
    }
    .cabecalho{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }

    .container .imagem-escudos {
        max-width: 70%;
        
    }
    .container .imagem-camisa .camisa{
        max-width: 100%;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }


}
@media (max-width: 500px){
    .cabecalho{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }    
    .container .imagem-titulo{
        max-width: 75%;
    }
    .nav-site .galotv {
        visibility: hidden;
        opacity: 1;
        overflow: hidden;
    }
  
}