body{
    font-family: 'poppins';
    background-color: #040203;
}

.cabecalho{
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 30px;
    margin: 0 auto;
    max-width: 1440px;
    /* background-color: #facf00; */
    
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(250,207,0,0.17130602240896353) 100%); */

}
.cabecalho .logo{
    width: 80px;
}

.logo-cabecalho{
    transition: 0.5s all ease-in-out;
    text-transform: uppercase;

}

.cabecalho .logo-cabecalho:hover{

    transform: scale(1.2);
    
}

.cabecalho .menu{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.2s;
    
    
}
.cabecalho nav li a:hover{
    /* background-color: rgb(99, 99, 23) */
    background-color: #facf00;
    color: #040203;

}
.cabecalho .fundo-cabecalho {
    width: auto;
    position: absolute;
    z-index: -1;
     
    
}
.cabecalho .fundo-cabecalho .estadio {
    height:129px;
    width: 824px;
    content: "";
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
}

.cabecalho .nav-meio{

    
    /* background-color: #facf00; */
    max-width: 400px;
    display: flex;
    align-items: center;
    
    

}

.cabecalho .rede-sociais{
    
    /* margin: auto;
    width: 60vw;
    height: 100%;
    align-items: center;
    padding: 30px 60px;
    display: flex;
    gap: 5px;
    background-color: green; */
    /* background-color: green; */
    width: 30vw;
    padding-left: 40px;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 5px;
    background-position: ce;
}

.instagram,.twitter,.youtube,.facebook{
    width: 20px;
    background-color: #ffffff;
    border-radius: 90px;
}

.nav-site{
    
    width: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-site .arena-mrv .arena,.galotv{
    width: 55px;
    display: block;
   
    margin: auto;
    gap: 50%;
    text-align: center;
}

/* .instagram,.twitter{
    background-color: #ffffff;
    border-radius: 90px;
} */

.instagram:hover,.twitter:hover,.youtube:hover,.facebook:hover{
    background-color: #facf00;
    
}



.container{
    
    max-width: 1440px;
    height: calc(100vh - 147px);
    display: flex;
    align-items: center;
    padding: 0 30px 30px;
    margin: 0 auto;
}
.container .descricao{
    color: #a8adb7;
    width: 80%;
    font-size: 18px;
    margin: 30px 0;
    text-align: center;
}


.container .imagem-escudos{
    max-width: 400px;
    
}

.imagem-camisa .camisa{
    max-width: 750px;
    
    
}
.socio{
    padding: 15px;
    font-size: 18px;
    background-color: #facf00;
    color: #040203;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;


}

.socio:hover{
    transform: scale(1.1);
    
    
}
.container .imagem-camisa{
    width: 50%;
    
    text-align: center;
    

}
.fundo-video{
    background-color: black;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fundo-video .video{
    height: 100vh;
}
.fundo-video::after{
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #040203 0%, rgba(0, 0, 0, 0.85) 49%, #040203 100%);
    
}
